In [1]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\felip\anaconda3\lib\site-packages (2.2.4)

In [3]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\felip\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\felip\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\felip\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [5]:
from sqlalchemy import create_engine, text
import MySQLdb
import sqlalchemy

In [7]:
user = 'root'
password = 'admin'
host = '127.0.0.1'
database = 'desafio_final'

string_conexao = f'mysql://{user}:{password}@{host}/{database}'
string_conexao #testar a string de conexão com o banco de dados.

'mysql://root:admin@127.0.0.1/desafio_final'

In [11]:
engine = sqlalchemy.create_engine(string_conexao)
conn = engine.connect()

In [45]:
from sqlalchemy import create_engine, text

In [46]:
with open ('C:\\Users\\lipet\\OneDrive\\Área de Trabalho\\Pós Graduação - Ciência de Dados\\Bootcamp Arquiteto de Big Data\\Módulo 2\\Desafio\\script_colaboradores_hospital.sql', 'r') as file:
    query = file.read()
    
conn.execute(text(query))

In [19]:
import pandas as pd

dados_licenca_medicos = pd.read_csv(r"C:\Users\lipet\OneDrive\Área de Trabalho\Pós Graduação - Ciência de Dados\Bootcamp Arquiteto de Big Data\Módulo 2\Desafio\dados_licencas_medicas\dados_licencas_medicas.csv", sep = ';', encoding = 'latin1')

In [34]:
print(dados_licenca_medicos.dtypes)

nome_medico                   object
especialidade                 object
motivo_licença                object
id_colaborador                 int64
nome_colaborador              object
data_nascimento       datetime64[ns]
estado_colaborador            object
sexo_colaborador              object
inicio_licenca        datetime64[ns]
fim_licenca           datetime64[ns]
duracao_licensa                int64
idade                          int64
escolaridade                  object
salario                      float64
qtd_filhos                   float64
hobbie                        object
possui_pet                    object
estado_civil                  object
dtype: object

In [20]:
dados_licenca_medicos.isna().sum()

nome_medico            0
especialidade          0
motivo_licença         0
id_colaborador         0
nome_colaborador       0
data_nascimento        0
estado_colaborador     0
sexo_colaborador       0
inicio_licenca         0
fim_licenca            0
duracao_licensa        0
idade                  0
escolaridade           0
salario               18
qtd_filhos             6
hobbie                 0
possui_pet             0
estado_civil           5
dtype: int64

In [21]:
index_estado_civil_ausentes = dados_licenca_medicos[dados_licenca_medicos['estado_civil'].isna()].index
dados_licenca_medicos.loc[index_estado_civil_ausentes]

,nome_medico,especialidade,motivo_licença,id_colaborador,nome_colaborador,data_nascimento,estado_colaborador,sexo_colaborador,inicio_licenca,fim_licenca,duracao_licensa,idade,escolaridade,salario,qtd_filhos,hobbie,possui_pet,estado_civil
574,Dr. Rodrigo,Ortopedista,Enfermidade de filhos pequenos,762,Paulo da Mata,13/11/1977,Alagoas,Masculino,26/09/2022,28/09/2022,2,45,Médio,2213.04,4.0,Música,Não,NaN
575,Dr. Rodrigo,Ortopedista,Comum,765,João Felipe Nogueira,14/02/1979,Espírito Santo,Masculino,03/01/2023,07/01/2023,4,44,Superior,4453.23,1.0,Esportes,Não,NaN
614,Dr. Rodrigo,Ortopedista,Acidente de trajeto,989,Antônio Gomes,22/03/1986,Amazonas,Masculino,20/11/2022,11/12/2022,21,37,Fundamental,3480.16,4.0,Leitura,Sim,NaN
632,Dra. Vanessa,Pediatra,Comum,72,Diogo da Costa,19/06/1953,Distrito Federal,Masculino,10/09/2023,09/10/2023,29,69,Médio,7211.45,3.0,Viagens,Sim,NaN
666,Dr. Roberto,Pediatra,Enfermidade de filhos pequenos,225,Matheus Pires,16/06/1979,Bahia,Masculino,09/05/2022,16/05/2022,7,43,Fundamental,6501.25,3.0,Artes,Não,NaN

In [9]:
dados_licenca_medicos.duplicated().sum()

17

In [22]:
dados_licenca_medicos.drop_duplicates(inplace = True)

In [23]:
dados_licenca_medicos.shape

(996, 18)

In [24]:
media_salario = round(dados_licenca_medicos.salario.mean(), 2)

In [25]:
media_salario

5538.47

In [26]:
dados_licenca_medicos['salario'].fillna(media_salario, inplace = True)

In [27]:
media_qtd_filhos = round(dados_licenca_medicos.qtd_filhos.mean())

In [28]:
dados_licenca_medicos['qtd_filhos'].fillna(media_qtd_filhos, inplace = True)

In [29]:
dados_licenca_medicos['estado_civil'].fillna(dados_licenca_medicos['estado_civil'].mode()[0], inplace = True)

In [30]:
dados_licenca_medicos.loc[index_estado_civil_ausentes]

,nome_medico,especialidade,motivo_licença,id_colaborador,nome_colaborador,data_nascimento,estado_colaborador,sexo_colaborador,inicio_licenca,fim_licenca,duracao_licensa,idade,escolaridade,salario,qtd_filhos,hobbie,possui_pet,estado_civil
574,Dr. Rodrigo,Ortopedista,Enfermidade de filhos pequenos,762,Paulo da Mata,13/11/1977,Alagoas,Masculino,26/09/2022,28/09/2022,2,45,Médio,2213.04,4.0,Música,Não,Solteiro(a)
575,Dr. Rodrigo,Ortopedista,Comum,765,João Felipe Nogueira,14/02/1979,Espírito Santo,Masculino,03/01/2023,07/01/2023,4,44,Superior,4453.23,1.0,Esportes,Não,Solteiro(a)
614,Dr. Rodrigo,Ortopedista,Acidente de trajeto,989,Antônio Gomes,22/03/1986,Amazonas,Masculino,20/11/2022,11/12/2022,21,37,Fundamental,3480.16,4.0,Leitura,Sim,Solteiro(a)
632,Dra. Vanessa,Pediatra,Comum,72,Diogo da Costa,19/06/1953,Distrito Federal,Masculino,10/09/2023,09/10/2023,29,69,Médio,7211.45,3.0,Viagens,Sim,Solteiro(a)
666,Dr. Roberto,Pediatra,Enfermidade de filhos pequenos,225,Matheus Pires,16/06/1979,Bahia,Masculino,09/05/2022,16/05/2022,7,43,Fundamental,6501.25,3.0,Artes,Não,Solteiro(a)

In [33]:
dados_licenca_medicos['data_nascimento'] = pd.to_datetime(dados_licenca_medicos['data_nascimento'], format = '%d/%m/%Y')
dados_licenca_medicos['inicio_licenca'] = pd.to_datetime(dados_licenca_medicos['inicio_licenca'], format = '%d/%m/%Y')
dados_licenca_medicos['fim_licenca'] = pd.to_datetime(dados_licenca_medicos['fim_licenca'], format = '%d/%m/%Y')

In [47]:
def insert_registro_tabela_simples(lista_dados, tabela):
    coluna_tabela = tabela[3:]
    
    for registro in lista_dados:
        try:
            query = f"""insert into {tabela} ({coluna_tabela})
                        values('{registro}')"""
            conn.execute(query)
            
            print(f"Registro inserido com sucesso: {registro}")
        except Exception as e:
            print(f"Não foi possível inserir o registro {registro}. O erro encontrado foi: {e}")

In [48]:
lista_estado = dados_licenca_medicos['estado_colaborador'].drop_duplicates().reset_index(drop=True)
tabela_banco = 'tb_estado'
insert_registro_tabela_simples(lista_dados = lista_estado,
                                tabela = tabela_banco)

Registro inserido com sucesso: Rio Grande do Sul
Registro inserido com sucesso: Ceará
Registro inserido com sucesso: Rio Grande do Norte
Registro inserido com sucesso: Tocantins
Registro inserido com sucesso: Roraima
Registro inserido com sucesso: Santa Catarina
Registro inserido com sucesso: Pernambuco
Registro inserido com sucesso: Alagoas
Registro inserido com sucesso: Piauí
Registro inserido com sucesso: Paraíba
Registro inserido com sucesso: Minas Gerais
Registro inserido com sucesso: Espírito Santo
Registro inserido com sucesso: Sergipe
Registro inserido com sucesso: Acre
Registro inserido com sucesso: Bahia
Registro inserido com sucesso: Rio de Janeiro
Registro inserido com sucesso: Amapá
Registro inserido com sucesso: Maranhão
Registro inserido com sucesso: Paraná
Registro inserido com sucesso: Pará
Registro inserido com sucesso: São Paulo
Registro inserido com sucesso: Mato Grosso do Sul
Registro inserido com sucesso: Mato Grosso
Registro inserido com sucesso: Rondônia
Registro inserido com sucesso: Amazonas
Registro inserido com sucesso: Distrito Federal
Registro inserido com sucesso: Goiás

In [49]:
lista_estado = dados_licenca_medicos['estado_civil'].drop_duplicates().reset_index(drop=True)
tabela_banco = 'tb_estado_civil'
insert_registro_tabela_simples(lista_dados = lista_estado,
                                tabela = tabela_banco)

Registro inserido com sucesso: Solteiro(a)
Registro inserido com sucesso: Casado(a)
Registro inserido com sucesso: Viúvo(a)
Registro inserido com sucesso: Divorciado(a)

In [50]:
lista_estado = dados_licenca_medicos['escolaridade'].drop_duplicates().reset_index(drop=True)
tabela_banco = 'tb_escolaridade'
insert_registro_tabela_simples(lista_dados = lista_estado,
                                tabela = tabela_banco)

Registro inserido com sucesso: Fundamental
Registro inserido com sucesso: Médio
Registro inserido com sucesso: Superior

In [51]:
lista_estado = dados_licenca_medicos['hobbie'].drop_duplicates().reset_index(drop=True)
tabela_banco = 'tb_hobbie'
insert_registro_tabela_simples(lista_dados = lista_estado,
                                tabela = tabela_banco)

Registro inserido com sucesso: Música
Registro inserido com sucesso: Artes
Registro inserido com sucesso: Leitura
Registro inserido com sucesso: Viagens
Registro inserido com sucesso: Esportes

In [52]:
lista_estado = dados_licenca_medicos['especialidade'].drop_duplicates().reset_index(drop=True)
tabela_banco = 'tb_especialidade'
insert_registro_tabela_simples(lista_dados = lista_estado,
                                tabela = tabela_banco)

Registro inserido com sucesso: Clínico geral
Registro inserido com sucesso: Ginecologista obstetra
Registro inserido com sucesso: Ortopedista
Registro inserido com sucesso: Pediatra
Registro inserido com sucesso: Traumatologista

In [54]:
lista_estado = dados_licenca_medicos['motivo_licença'].drop_duplicates().reset_index(drop=True)
tabela_banco = 'tb_motivo_licenca'
insert_registro_tabela_simples(lista_dados = lista_estado,
                                tabela = tabela_banco)

Registro inserido com sucesso: Acidente de trabalho
Registro inserido com sucesso: Acidente de trajeto
Registro inserido com sucesso: Enfermidade de filhos pequenos
Registro inserido com sucesso: Comum
Registro inserido com sucesso: Maternidade

In [55]:
dados_licenca_medicos.to_sql('stg_licenca', con=conn, schema = 'desafio_igti')

996

In [57]:
query = '''

insert into tb_medico(nome_medico, cod_especialidade)
(
    SELECT distinct nome_medico, esp.cod_especialidade
    FROM stg_licenca stg
    INNER JOIN tb_especialidade esp on esp.especialidade = stg.especialidade
)
'''
try:
    conn.execute(query)
except Exception as e:
    print(e)

In [59]:
query = '''

insert into tb_colaborador(nome_colaborador, data_nascimento, sexo_colaborador, salario, qtd_filhos,
possui_pet, cod_estado_civil, cod_escolaridade, cod_hobbie, cod_estado)
(
    SELECT distinct nome_colaborador, data_nascimento, sexo_colaborador, salario, qtd_filhos,
possui_pet, ec.cod_estado_civil, esc.cod_escolaridade, hob.cod_hobbie, est.cod_estado
    FROM stg_licenca stg
    INNER JOIN tb_estado_civil ec on ec.estado_civil = stg.estado_civil
    INNER JOIN tb_escolaridade esc on esc.escolaridade = stg.escolaridade
    INNER JOIN tb_hobbie hob on hob.hobbie = stg.hobbie
    INNER JOIN tb_estado est on est.estado = stg.estado_colaborador
)
'''
try:
    conn.execute(query)
except Exception as e:
    print(e)

In [66]:
query = '''

insert into tb_processamento_licenca(inicio_licenca, fim_licenca, duracao_licenca, cod_colaborador, cod_medico,
cod_motivo_licenca)
(
    SELECT inicio_licenca, fim_licenca, duracao_licensa, col.cod_colaborador, med.cod_medico,
mtl.cod_motivo_licenca
    FROM stg_licenca stg
    INNER JOIN tb_colaborador col on col.nome_colaborador = stg.nome_colaborador
    INNER JOIN tb_motivo_licenca mtl on mtl.motivo_licenca = stg.motivo_licença
    INNER JOIN tb_medico med on med.nome_medico = stg.nome_medico
)
'''
try:
    conn.execute(query)
except Exception as e:
    print(e)